.weatherItem {
  margin-top: 75px;
  border-radius: 12px;
  height: 470px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80  100%);
  width: calc(20% - 10px);
  float: left; 
  align-items: center;
  box-sizing: border-box; 
  margin: 5px;
}

.favouriteIndexContainer{
  flex-wrap: fit-contents;
  display: flex;
  justify-content: center;
}


.indexContainer{
  display: flex;
  justify-content: center;
  width: 100%

}

.favouriteIndexContaine{
  display: flex;
  justify-content: center;
}



.imgContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.weatherImgSmall {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.indexFaveButon{
  text-decoration: none;
  color: black;
  background-color: whitesmoke; 
  padding: 1em;
  border-radius: 40px;
  font-weight: 500;
  outline: none;
  border: none;
}


.weatherIndex {
  list-style: none;
  padding: 0;
}

.favouriteIndex{
  display: flex;
  justify-content: center;
}

.pageTitle {
  justify-content: center;
  display: flex;
}

.topBar{
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.topBar input {
  display: flex;
  width:  362px;
  height: 39px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background: whitesmoke;
  border-radius: 40px;
  cursor: pointer;

}


.navBar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 20px;
  
}

.navItem {
  text-decoration: none;
  color: black;
  background-color: whitesmoke; 
  padding: 1em;
  border-radius: 40px;
  font-weight: 500;
}

.deatailWeatherItem {
  margin: 75px auto;
  margin-top: 75px;
  height: 750px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80  100%);
  width: 80%; 
  box-sizing: border-box; 
  margin: 5px;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherImg {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.weatherTemp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

.weatherLoaction {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.dataContainer {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.element{
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px
}

.data{
  font-size: 34px;
  font-weight: 400 ;
}

.text{
  font-size: 20px;
  font-weight: 400;
}

.icon{
  margin-top: 10px;

}

.buttonContainer{
  display: flex;
  justify-content: center;
}

.favouriteButton{
  margin-top: 20px;
  text-decoration: none;
  color: black;
  background-color: whitesmoke; 
  padding: 2em;
  border-radius: 40px;
  font-weight: 700;
}
