.weatherItem {
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80  100%);
  width: 20%;
  float: left; 
  box-sizing: border-box; 
  margin: 5px;
}


.weatherIndex {
  list-style: none;
  padding: 0;
}

.pageTitle {
  justify-content: center;
  display: flex;
}

.topBar{
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.topBar input {
  display: flex;
  width:  362px;
  height: 39px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: grey;
  font-size: 20px;
  font-weight: 400;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background: whitesmoke;
  border-radius: 40px;
  cursor: pointer;

}
